<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notion Login</title>
</head>
<body>
    <h2>Login to Notion </h2>
    <form method="POST" action="/login">
        <label for="Notion_Token">Notion Token:</label><br>
        <input type="text" id="Notion_Token" name="Notion_Token" placeholder="Enter your Notion token" required><br><br>

        <label for="Database_ID">Database ID:</label><br>
        <input type="text" id="Database_ID" name="Database_ID" required><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>

